@mixin vertical-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@mixin reset-input {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	border: none;
	font: inherit;
	padding: 0;
	cursor: pointer;
	background: none;
	color: inherit;
	outline: 0;
}
