@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import './styles/reset.css';

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ACBCA2;
}
